.menu {
 display: flex;
align-items: center;
justify-content: space-between;
padding-left: 40px;
}


.menu1 {
    display: flex;
    gap: 40px;
    padding-right: 40px;

    a {
        text-decoration: none;
        color: black;
        font-size: 27px;
    }

}


.wrap2 {

    background-image: url(./img/index-background-desktop.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 50px;


  display: flex;
  justify-content: center;


  @media (max-width: 1590px) {
        padding-right: 100px;
}


@media (max-width: 1520px) {
    gap: 90px;
}




   
 
   
    h1 {
        color: black;
        font-size: 80px;
        padding-top: 140px;
        padding-left: 200px;


        @media (max-width: 1590px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 35px;
        padding-left: 200px;
    }
}

button {
    font-size: 17px;
    height: 60px;
    width: 220px;
    background-color: rgb(46, 213, 46);
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 100px;
}





.wrap3 {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 200px;
}


.box {
    padding-top: 50px;
    display: flex;
    border: px solid gray;
    width: 900px;
height: 280px;
margin-left: 40px;
background: #F2F2F2;
padding-left: 150px;
padding-bottom: 40px;





}

.box33 {
    padding-left: 200px;
    display: flex;
    border: px solid gray;
    width: 900px;
height: 280px;
margin-right: 40px;
background: #F2F2F2;
padding-bottom: 40px;
padding-top: 40px;
    
}



.box3 {
     
    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }
}

.logo3 {
    object-fit: contain;
    aspect-ratio: 0.5/1;
    
}

.logo2 {
    object-fit: contain;
    @media (max-width: 1590px) {
        width: 500px;
    }

}

.box41 {
 height: 300px;
  width: 250px;
border: px solid rgb(190, 190, 190);
p {
    color: gray;
    font-size: 20px;
    margin-top: 60px;
} 

background-size: contain;
background-image: url(./img/1.png);
background-repeat: no-repeat;
background-position: right;


}


.box42 {

    height: 300px;
  width: 250px;
border: px solid rgb(190, 190, 190);
p {
    color: gray;
    font-size: 20px;
    margin-top: 60px;
} 

background-size: contain;
background-image: url(./img/2.png);
background-repeat: no-repeat;
background-position: right;


}


.box43 {
    height: 300px;
    width: 250px;
  border: px solid rgb(190, 190, 190);
  p {
      color: gray;
      font-size: 20px;
      margin-top: 60px;
  } 
  
  background-size: contain;
  background-image: url(./img/3.png);
  background-repeat: no-repeat;
  background-position: right;
  
}


.box44 {
    height: 300px;
    width: 250px;
  border: px solid rgb(190, 190, 190);
  p {
      color: gray;
      font-size: 20px;
      margin-top: 60px;
  } 
  
  background-size: contain;
  background-image: url(./img/4.png);
  background-repeat: no-repeat;
  background-position: right;
  
}

.box4 {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 200px;
    


  
}


.conteiner4 {

    h4 {
        padding-left: 50px;
        font-size: 70px;
        margin-bottom: 300px;
    }
}



.conteiner5 {

    h4 {
        padding-left: 50px;
        font-size: 70px;
        margin-bottom: 300px;
    }
}


.wrap5 {

    p {
        font-size: 20px;
        padding-left: 130px;
        padding-top: 30px;

    }


    .clicmi {
    
        width: 162px;
        height: 77px;
       margin-left:100px ;
        background-color: white;

    }

    h5 {
        font-size: 27px;
    }
    
}


.box5 {
    display: flex;
    justify-content: center;
    gap: 400px;
    background: #F2F2F2;

}

.title5 {
    display: flex;
    gap: 60px;
    padding-left: 100px;
}